<div class="container">

    <div class="row">
        <div class="col-1"></div>
        <div class="col-10 text-center">
            <div class="img-container mt-3">
                <img src="assets/img/burger.png" width="225px" alt="This is a Burger!">
            </div>

            <h1>Eat Da Burger!</h1>

            <div class="container mt-5">

                <div class="row">
                    <div class="available-burgers col-6">
                        <h2>Available Burgers</h2>
                        <table class="table table-dark">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Burger Name</th>
                                    <th scope="col">Hungry?</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each availableBurgers}}
                                {{> burger/availableBurgers}}
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                    <div class="memory-of-burgers col-6">
                        <h2>Burgers From The Past</h2>
                        <table class="table table-dark">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Burger Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each oldBurgers}}
                                {{> burger/oldBurgers}}
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

            <form class="burger-form mt-5 mb-3">
                <label for="burger-input">Add a delicious burger!</label><br>
                <input type="text" id="burger-input"><br>
                <button type="submit" class="btn btn-primary mt-3" id="burger-btn">Cook your burger!</button>
            </form>
        </div>
        <div class="col-1"></div>
    </div>

</div>