<div class="container">

    <div class="row">
        <div class="col-1"></div>
        <div class="col-10 text-center">
            <div class="img-container mt-3">
                <img src="assets/img/burger.png" width="225px" alt="This is a Burger!">
            </div>

            <h1>Eat Da Burger!</h1>
            <form class="signin-form mt-5 mb-3">
                <h2>Please enter your name for burgers!</h2><br>
                <input type="text" id="signin-input"><br>
                <button type="submit" class="btn btn-primary mt-3" id="signin-btn">Enter the Burgers!</button>
            </form>
        </div>
        <div class="col-1"></div>
    </div>


</div>