<tr>
    <th scope="row" class="align-middle">{{ id }}</th>
    <th class="align-middle">{{burger_name}}</th>
    <th class="align-middle"><button class="btn-success btn eat-btn" data-id="{{ id }}" data-eaten="{{ devoured }}">Eat me!</button></th>
</tr>